<!-- Post action panel -->
  <div class="post-action-panel post-action-menu common_border" id="postActionPanel">
    <button class="post-action-btn post-action-menu-button" type="button" data-post-action="edit" aria-label="" data-language-aria-label="edit">
      <img class="post-action-icon post-action-menu-icon" src="shared/icons/edit_pencil.svg" alt="">
    </button>

    <button class="post-action-btn post-action-menu-button star" id="postStarAction" type="button" data-post-action="star" aria-label="" data-language-aria-label="star" aria-pressed="false">
      <img class="post-action-icon post-action-menu-icon post-action-star" src="shared/icons/star.svg" alt="">
    </button>

    <button class="post-action-btn post-action-menu-button delete" type="button" data-post-action="delete" aria-label="" data-language-aria-label="delete">
      <img class="post-action-icon post-action-menu-icon post-action-trash-icon" src="shared/icons/trash.svg" alt="">
    </button>
  </div>
